{% extends 'entity/create.html.twig' %}

{% block form %}
    <div class="container-fluid px-5 mb-3">
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.locationLinkUrl) }}
        {{ form_row(form.factionStatus) }}

        {# Trainers #}
        <div class="form-group">
            {{ form_label(form.trainers) }}
            {{ form_errors(form.trainers) }}
            {{ form_help(form.trainers) }}
            <ol>
                {% for trainer in form.trainers %}
                    <li>
                        {{ form_widget(trainer) }}
                        {{ form_label(trainer, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </li>
                {% endfor %}
            </ol>
        </div>

        {# Vendors #}
        <div class="form-group">
            {{ form_label(form.vendors) }}
            {{ form_errors(form.vendors) }}
            {{ form_help(form.vendors) }}
            <ol>
                {% for vendor in form.vendors %}
                    <li>
                        {{ form_widget(vendor) }}
                        {{ form_label(vendor, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </li>
                {% endfor %}
            </ol>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock form %}